nav{
    background:skyblue;
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: black;
    text-decoration: none;;
    display: block;
}
nav ul li a:hover{
    color: yellow;
}

.text {
  width: 50%;
  font-size: 18px;  
  line-height: 1.5;
}

.container{
    padding: 40px;
    display: flex;
    gap: 10%;
}
table {
    width: 100%; 
    border-collapse: collapse; 
    font-family: sans-serif; 
    
}

th, td {
    border: 1px solid #ddd; 
    padding: 12px;
    text-align: center; 
}
th {
    background-color: #f2f2f2; 
    font-weight: bold; 
    color: #333;
}